#hero-banner
  video#hero-video(width='100%', muted="")
    source(src='http://distribution.bbb3d.renderfarming.net/video/mp4/bbb_sunflower_1080p_30fps_normal.mp4', type='video/mp4')
    track(src='./media/chapters.vtt', kind='chapters', default='')
    |   Your browser does not support HTML5 video.
  nav#hero-nav
